.gradle
.idea
**/.gradle
build
**/build
db/**
tmp


sourceamazing-process-test/input-data/schema/*
sourceamazing-process-test/output-data/*

examples/html-form-example/input-data/schema/*
examples/html-form-example/WebContent/*
